// Styles for header elements: navigation bar, main carousel
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tagline {
  text-align: center;
  font-size: 21px;
  margin-bottom: 30px;
}
